.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.direction {
    font-family: Georgia, serif;
    font-size: 14px;
    color: black;
    background-color: rgb(152, 228, 235);
}

.direction:hover {
    background-color: rgb(175, 244, 175);
    color: darkgreen;
}

.chorus {
    color: darkblue;
}

.CLY {
    color: deeppink;
}

.EL {
    color: purple;
}

.OLD{
    color: rgb(255, 32, 35);
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th{
    background-color: rgb(153, 252, 252);
    color:blue;
    border: 1px solid black;
    text-align: left;
    padding: 12px;
}

td{
    padding: 10px;
    text-align: left;
    border: 1px solid black;
}
 
tr:nth-child(even) {
    background-color: #f2f2f2;
}