.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.direction {
    font-family: Georgia, serif;
    font-size: 14px;
    color: black;
    background-color: rgb(152, 228, 235);
}

.direction:hover {
    background-color: rgb(175, 244, 175);
    color: darkgreen;
}

.chorus {
    color: darkblue;
}

.CLY {
    color: deeppink;
}

.EL {
    color: purple;
}

.OLD{
    color: rgb(255, 32, 35);
}

